<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index</title>
</head>
<body>
    <a href="{% url 'index' %}">home</a>
    <a href="{% url 'contato' %}">contato</a>
    <h1>index</h1>

    <h2>{{mensagem}}</h2>

    <p>{{ firtProduto }}</p>
    <p>{{ lastProduto }}</p>

    <table>
        <thead>
            <tr>
                <th>Produto</th>
                <th>Preço</th>
            </tr>
        </thead>
        <tbody>
        {% for produto in produtos %}
            <tr>

                <td><a href="{% url 'ver_produto' produto.id %}">{{ produto.nome }}</a></td>
                <td>{{ produto.preco }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</body>
</html>